<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.pribluda.android.acceleration.analyzer"
          android:versionCode="0"
          android:versionName="0.0">
    <application android:label="Stroke counter" android:theme="@android:style/Theme.Black">
        <uses-sdk android:minSdkVersion="3"/>
        <supports-screens android:smallScreens="true"
                          android:normalScreens="true"
                          android:largeScreens="true"
                          android:anyDensity="true"/>



        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".StrokeCounter" android:label="Acceleration spectre"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
            The application's publisher ID assigned by AdMob
        -->
        <meta-data android:value="a14afd72dba70ad" android:name="ADMOB_PUBLISHER_ID"/>

    </application>
</manifest>